html, body {
    background-color: $body-bg;
    color: $body-color;
    font-family: $font-family-sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.links > a {
    color: $body-color;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
