// Body
$body-bg: #f8fafc;
$body-color: #636b6f;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Pallete
$primary: #E63946;
$secondary: #457B9D;
$light-secondary: #A8DADC;
$dark-secondary: #1D3557;
$light: #F1FAEE;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "light-secondary": $light-secondary,
    "dark-secondary": $dark-secondary,
    "light": $light
);
