.user-icon {
    -webkit-animation: pulsate-bck 4.5s ease-in-out infinite both;
            animation: pulsate-bck 4.5s ease-in-out infinite both;
            
    &__image {
        position: relative;
        font-size: 1.5em;
    }

    $sizes: (1: 35px);
    @each $i, $val in $sizes {
        .size-#{$i} {
            max-width: $val;
            padding: 0.1rem;
        }
    }

    a {
        color: $body-color;
        
        &:hover {
            text-decoration: none;
        }
    }

    i:hover {
        border-color: $primary !important;
    }
}

.user-icon_mesa {
    top: 128px;
    right: 76px;
}
