html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.aww-board.aww-board_principal {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}

.aww-board .aww-board__board {
  position: relative;
  width: 100%;
  height: 100%;
}

